<div class="wrapper">

  <div class="side_bar">
    <%= render "side_bar" %>
    <div class="side_up">
    </div>
    <div class="side_down">
    </div>
  </div>

  <div class="chat">
    <%= render "main_chat"%>
    <div class="main_up">
    </div>
    <div class="main_chat">
    </div>
    <div class="main_footer">
    </div>
  </div>
</div>