<div class="wrapper">

  <div class="side_bar">
    <%= render "side_bar" %>
    <div class="side_up">
      <div class="side_up_left">
      <a href="#">Tom</a>
      </div>
      <div class="side_up_right">
      <a href="#">チャット作成する</a>
      </div>
    </div>

    <div class="side_down">
      <div class="room">
        <div class="room_name">
          <a href="#">techroom1</a>
        </div>
      </div>
      <div class="room">
        <div class="room_name">
          <a href="#">techroom2</a>
        </div>  
      </div>
    </div>
  </div>

  <div class="chat">
    <%= render "main_chat"%>
    <div class="main_up">
      <div class="left_header">
        <div class="main_up_room">
          hogefuga
       </div>
      </div>
      <div class="right_header">
        <div class="main_up_btn">
         <a href="#"> チャットを終了する</a>
       </div>
     </div>
    </div>

    <div class="main_chat">
      <div class="message">
      <div class="main_chat_box">
        <div class="main_chat_name">Tom
        </div>
        <div class="main_chat_time">
         2020/3/31(Wed) 12:4:30
        </div>
        </div>
        <div class="lower_message">
        <div class="main_chat_text">おはよう
        </div>
      </div>
    </div>

         <div class="message">
      <div class="main_chat_box">
        <div class="main_chat_name">Tom
        </div>
        <div class="main_chat_time">
         2020/3/31(Wed) 12:4:30
        </div>
        </div>
        <div class="lower_message">
        <div class="main_chat_text">こんばんは
        </div>
      </div>
    </div>
  </div>
    <div class="main_footer">
      <div class="main_footer_input">
        <input class="main_footer_message" placeholder="type a message">
            <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
    </div>
    <input class="main_footer_submit" tyape="submit" value="送信">
  </div>
