<div class="wrapper">

  <div class="side_bar">
    <%= render "side_bar" %>
    <div class="side_up">
      <div class="side_up_left">
      <a href="#">Tom</a>
      </div>
      <div class="side_up_right">
      <a href="#">チャット作成する</a>
      </div>
    </div>

    <div class="side_down">
      <div class="room">
        <div class="room_name">
          <a href="#">techroom1</a>
        </div>
      </div>
      <div class="room">
        <div class="room_name">
          <a href="#">techroom2</a>
        </div>  
      </div>
    </div>
  </div>

  <div class="chat">
    <%= render "main_chat"%>
    <div class="main_up">
    </div>

    <div class="main_chat">
    </div>

    <div class="main_footer">
    </div>
  </div>
</div>